.menu {
  display: flex;
}

*,
*::before,
*::after {
  margin: 0 0rem;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 30%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Lato", sans-serif;
  color: #3d405b;
  font-weight: 300;
  line-height: 1.6;
}

.navigation {
  margin: 2rem 2rem;
  display: flex;
}
.navigation__img {
  margin-right: auto;
}
.navigation__right {
  display: flex;
  align-items: center;
  align-self: stretch;
}
.navigation__right > * {
  padding: 0 1.5rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.navigation__right > *:hover {
  background-color: var(#b5b2b2);
}

.search {
  width: 30rem;
  margin-right: -1.5rem;
}
.search__input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  padding: 0.5rem 1rem;
  width: 90%;
  transition: all 0.2s;
  margin-right: -2.5rem;
  border-bottom: 1px solid black;
}
.search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(#635e5e);
}
.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(#635e5e);
}
.search__input:focus + .search__button {
  background-color: var(#635e5e);
}
.search__button {
  border: none;
  background-color: transparent;
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}
.search__icon {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.cart__button {
  border: none;
  background-color: transparent;
}
.cart__button:focus {
  outline: none;
}
.cart__button:active {
  transform: translateY(2px);
}

.cart__icon {
  height: 2rem;
  width: 2rem;
  fill: #3d405b;
}

.like__button {
  border: none;
  background-color: transparent;
}
.like__button:focus {
  outline: none;
}
.like__button:active {
  transform: translateY(2px);
}

.like__icon {
  height: 2rem;
  width: 2rem;
  fill: #3d405b;
  color: #0f52ba;
}

.lnr-heart {
  color: #0f52ba;
}

.user__button {
  border: none;
  background-color: transparent;
}
.user__button:focus {
  outline: none;
}
.user__button:active {
  transform: translateY(2px);
}

.user__icon {
  height: 2rem;
  width: 2rem;
  fill: #3d405b;
}

.new {
  visibility: hidden;
}
@media only screen and (max-width: 37.5em) {
  .new {
    visibility: visible;
  }
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
}
@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 4rem;
    right: 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-color: #f8edeb;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
@media only screen and (max-width: 56.25em) {
  .navigation__background {
    top: 4.5em;
    right: 4.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #3d405b;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 220%;
  transition: all ease 0.4s;
}
.navigation__link:link span,
.navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}

.navigation__link:hover,
.navigation__linkactive {
  background-position: 100%;
  color: #f8edeb;
  transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 3.2rem;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.header {
  margin: 2rem 4rem;
  background-image: url(../img/header-2.jpg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;
}
.header__information {
  height: 50rem;
  width: 100%;
  background-color: #fff;
  opacity: 0;
}

.header-img {
  height: 50rem;
  width: auto;
}

.services {
  font-size: 2rem;
  font-weight: 400;
}
@media only screen and (max-width: 37.5em) {
  .services {
    visibility: hidden;
  }
}
.services__list {
  display: flex;
  justify-content: center;
}
.services__item {
  color: #3d405b;
  list-style: none;
  text-decoration: none;
  padding: 0 4rem;
  font-family: "Lato", sans-serif;
}

.options {
  display: flex;
  display: none;
}
.options__image-1 {
  margin: 2rem 4rem;
  background-image: url(../img/header-1.jpg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;
  width: 100%;
  opacity: 0.8;
  height: 40rem;
}
.options__information {
  margin-top: 20%;
  margin-left: 20%;
  height: 10rem;
  font-weight: 500;
  color: #3d405b;
  opacity: 100;
  font-size: 2rem;
  width: 60%;
  background-color: #fff;
  padding-top: 7%;
  text-align: center;
}
.options__image-2 {
  margin: 2rem 4rem;
  background-image: url(../img/header-2.jpg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;
  width: 100%;
  opacity: 0.8;
}

.categories {
  display: flex;
  margin: 3rem 1rem;
  flex-wrap: wrap;
}
@media only screen and (max-width: 75em) {
  .categories {
    margin-left: 5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .categories {
    margin-left: 2.5rem;
  }
}
.categories__box {
  color: white;
  margin: 2rem 3rem;
  width: 40rem;
  background-color: #3d405b;
  border-radius: 25px;
}
@media only screen and (max-width: 75em) {
  .categories__box {
    width: 35rem;
  }
}
.categories__heading {
  text-align: center;
  padding-top: 5rem;
  font-size: 3rem;
}
@media only screen and (max-width: 75em) {
  .categories__heading {
    padding-bottom: 5rem;
  }
}
.categories__box-2 {
  background: #81b29a;
}
.categories__box-3 {
  background: #e07a5f;
}
.categories__img {
  margin-top: -10rem;
  margin-left: 2rem;
  width: 90%;
}
.categories__icon {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.5rem 2rem;
  fill: #cd4e4e;
}
.categories__link {
  display: flex;
  justify-content: flex-end;
}

.products__section-title {
  margin-top: 5rem;
}

.products {
  margin-left: 5rem;
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 5rem;
  margin-bottom: 5rem;
}
.products__section-title {
  text-align: center;
  font-size: 3rem;
  color: #3d405b;
}
@media only screen and (max-width: 75em) {
  .products {
    padding: 3rem;
  }
}

.product {
  padding: 2rem 2rem;
  background-color: #f9f7f6;
  border-radius: 20px;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  margin-bottom: 5rem;
}
@media only screen and (max-width: 37.5em) {
  .product {
    border-radius: 10px;
    margin: 0 2rem;
    margin-bottom: 8rem;
  }
}
@media only screen and (max-width: 75em) {
  .product {
    border-radius: 10px;
    margin: 0 2rem;
    margin-bottom: 8rem;
  }
}
@media only screen and (max-width: 75em) {
  .product__image {
    padding-left: 2rem;
    width: 90%;
  }
}
.product__background {
  width: 100%;
  background: #f8edeb;
  margin-bottom: 2rem;
}
.product__detail {
  display: flex;
}
.product__title {
  margin-right: auto;
}
.product__price {
  margin-top: -3rem;
  font-size: 2.5rem;
  font-weight: 500;
}
.product__icon {
  background-color: #c4c4c4;
  padding: 0.5rem;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.5rem 0rem;
  fill: #cd4e4e;
  transition: 1s ease;
}
.product__icon:hover {
  transform: scale(1.1);
}
.product__icon > i {
  margin-left: 0.3rem;
  margin-top: 0.3rem;
  color: red;
}
.product__second {
  display: flex;
}
.product__icon-2 {
  padding: 0.5rem;
  width: 5.5rem;
  height: 5.5rem;
  margin: 0.7rem 1rem;
  fill: #cd4e4e;
  transition: all ease 0.2s;
}
.product__icon-2 > i {
  color: #cd4e4e;
}
@media only screen and (max-width: 37.5em) {
  .product__icon-2 {
    margin-top: 2rem;
  }
}
.product__icon-2:hover {
  transform: scale(1.1);
}
.product__paragraph {
  font-size: 1.2rem;
}

.footer {
  background-color: #f8edeb;
  grid-column: full-start / full-end;
  margin-top: 5rem;
  padding: 8rem;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
}
.nav__link:link,
.nav__link:visited {
  font-size: 1.4rem;
  color: #3d405b;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  padding: 1.5rem;
  text-align: center;
  display: block;
  transition: all 0.2s;
}
.nav__link::hover,
.nav__link:active {
  background-color: rgba(255, 255, 255, 0.5);
  transform: translateY(-3px);
}

.copyright {
  font-size: 1.4rem;
  color: #3d405b;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 76%;
}

.review {
  margin: 5rem 0;
  display: flex;
}
.review__image > img {
  width: 45rem;
  height: 55rem;
  margin-left: 20rem;
}
.review__info {
  margin-top: 7rem;
  margin-left: 7rem;
}
.review__heading > h2 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}
.review__price > h2 {
  font-size: 3.5rem;
  color: #000015;
  margin-bottom: 1.5rem;
}
.review__color > h2 {
  margin-bottom: 1.5rem;
}
.review__size > h2 {
  margin-bottom: 1.5rem;
}
.review__description {
  width: 50rem;
  margin-bottom: 1.5rem;
}
.review__like-add {
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  margin: 1rem 0;
  margin-bottom: 1.5rem;
}
.review__btn {
  background-color: #cd4e4e;
  color: white;
  text-decoration: none;
  padding: 2rem 7rem;
  margin-bottom: 1.5rem;
  transition: 1s ease;
}
.review__btn:hover {
  transform: scale(1.1);
}
.review__add {
  transition: 1s ease;
}
.review__add:hover {
  transform: scale(1.1);
}
.review__del-box {
  display: flex;
  align-items: center;
}
.review__del-box > p {
  padding-left: 1.5rem;
}
.review__like {
  margin-left: 2rem;
  transition: 1s ease;
}
.review__like:hover {
  transform: scale(1.1);
}

.slider-heading-mobile {
  text-align: center;
  margin-bottom: -10rem;
}

.slider-btn {
  margin-left: 120rem;
  color: #cd4e4e;
  margin-top: -1rem;
}

.fas {
  margin: 0 2rem;
}

.contact {
  width: 100%;
  margin-top: 5rem;
  background-image: url("../img/pexels-monstera-6373409.jpg");
  object-fit: cover;
  padding: 5rem 0;
  padding-bottom: 10rem;
}
.contact__image {
  width: 50%;
  display: cover;
  height: 20%;
}
.contact__image > img {
  width: 100%;
}
.contact__form {
  margin: 0 5rem;
  padding-top: 5rem;
  width: 50%;
  height: 800px;
  background-color: white;
}
.contact__form > h1 {
  text-align: center;
}

.contact__form {
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.2);
}

.form {
  display: flex;
  padding: 2rem 5rem;
  flex-direction: column;
}

.name__label {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.comment {
  width: 100%;
  resize: vertical;
  padding: 15px;
  border-radius: 15px;
  border: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  height: 150px;
}

.submit-form > button {
  width: 20%;
  background: #cd4e4e;
  color: white;
  border: none;
  padding: 1.5rem 0;
  transition: 1s ease;
}
.submit-form > button:hover {
  transform: scale(1.1);
}

.end {
  margin-top: 5rem;
}
.end__heading {
  text-align: center;
}
.end__image {
  margin-top: 5rem;
  margin-left: 40%;
}
.end__image > img {
  width: 40%;
}

.sec {
  margin-top: 5rem;
  margin-left: 42%;
}

.sc {
  transition: 1s ease;
}
.sc:hover {
  transform: scale(1.1);
}

.contact__label {
  margin-left: 15rem;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

.contact__div {
  margin-left: 15rem;
  display: flex;
}

.contact__information {
  width: 50%;
}

.contact__client {
  display: flex;
  flex-direction: column;
}

.contact__preview {
  width: 35rem;
  margin-left: 10rem;
  padding: 1rem 1rem;
  border: 1px solid gray;
  border-radius: 1rem;
}

.second {
  margin-top: 5rem;
}

.se {
  font-size: 1.5rem;
}

.form-input {
  padding: 1.2rem 0;
  border-radius: 1rem;
  box-shadow: none;
  border: 0.5 solid black;
  margin-bottom: 2rem;
  border-style: solid;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.preview__desc {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}
.preview__desc > img {
  width: 25%;
}

.preview__price {
  padding: 1rem 0;
}

.title {
  font-size: 2rem;
  margin-left: 2rem;
}

.line {
  border-top: 1px solid gray;
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
